<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% include menu %>

    <h1><%= title %></h1>
    <p>填写下面的表格进行登入！</p>

    <% include messages %>

    <form action="/login" method="post">
        <p>
            <input type="text" name="name" placeholder="用户名：" />
        </p>
        <p>
            <input type="password" name="pass" placeholder="密码：" />
        </p>
        <p>
            <input type="submit" value="登入" />
        </p>
    </form>
</body>
</html>